workflows_n8n/openclaw_retell_call_dispatch.json
{
  "name": "openclaw_retell_call_dispatch",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "openclaw-retell-dispatch",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($node[\"Config\"].json.CALL_WINDOW_DAYS || 'Mon,Tue,Wed,Thu,Fri,Sat').split(',').includes($moment.tz($node[\"Config\"].json.CALL_WINDOW_TZ || 'America/Chicago').format('ddd')) && $moment.tz($node[\"Config\"].json.CALL_WINDOW_TZ || 'America/Chicago').format('HH:mm') >= ($node[\"Config\"].json.CALL_WINDOW_START || '09:00') && $moment.tz($node[\"Config\"].json.CALL_WINDOW_TZ || 'America/Chicago').format('HH:mm') <= ($node[\"Config\"].json.CALL_WINDOW_END || '18:00') }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "2",
      "name": "Within Call Window?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/leads?select=id,place_id,business_name,phone,email,city,state,zip,status,lead_type,decision_maker_confirmed,positive_signal,touch_count,first_contacted_at,last_contacted_at,paused_until&status=in.(NEW,NURTURE,RETRY,HOLD)&phone=not.is.null&order=created_at.asc&limit=25",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}"
      },
      "id": "3",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        140,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "4",
      "name": "Split Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        340,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const lead = item.json || {};\nconst now = new Date();\nconst minHours = Number($node[\"Config\"].json.MIN_HOURS_BETWEEN_TOUCHES || 72);\nif (!lead.phone) return [];\nif (lead.paused_until && new Date(lead.paused_until) > now) return [];\nconst touches = lead.touch_count || 0;\nif (touches >= 8) return [];\nif (lead.last_contacted_at) {\n  const diffMs = now - new Date(lead.last_contacted_at);\n  if (diffMs < minHours * 3600 * 1000) return [];\n}\nreturn [item];"
      },
      "id": "5",
      "name": "Filter Leads",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/stoplist?phone=eq.{{$json.phone}}&limit=1",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}"
      },
      "id": "6",
      "name": "Check Stoplist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length || 0}}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "7",
      "name": "Not In Stoplist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const lead = $node[\"Filter Leads\"].json || {};\nconst agentType = lead.decision_maker_confirmed ? 'B2C' : 'B2B';\nconst agentId = agentType === 'B2C' ? $node[\"Config\"].json.RETELL_AGENT_B2C_ID : $node[\"Config\"].json.RETELL_AGENT_B2B_ID;\nconst fromNumber = $node[\"Config\"].json.RETELL_FROM_NUMBER;\nif (!fromNumber || !lead.phone) return [];\nreturn [{ json: { lead, agent_id: agentId, agent_type: agentType, from_number: fromNumber } }];"
      },
      "id": "8",
      "name": "Build Call Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.retellai.com/v2/create-phone-call",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({from_number: $json.from_number, to_number: $json.lead.phone, override_agent_id: $json.agent_id, retell_llm_dynamic_variables: { lead_first_name: $json.lead.first_name || '', business_name: $json.lead.business_name || '', city: $json.lead.city || '' }})}}",
        "headerParametersJson": "={{JSON.stringify({Authorization: \"Bearer \" + $node[\"Config\"].json.RETELL_AI_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({Authorization: \"Bearer \" + $node[\"Config\"].json.RETELL_AI_KEY})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({from_number: $json.from_number, to_number: $json.lead.phone, override_agent_id: $json.agent_id, retell_llm_dynamic_variables: { lead_first_name: $json.lead.first_name || '', business_name: $json.lead.business_name || '', city: $json.lead.city || '' }})}}"
      },
      "id": "9",
      "name": "Retell Create Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const lead = $node[\"Build Call Payload\"].json.lead || {};\nconst agentType = $node[\"Build Call Payload\"].json.agent_type || 'B2B';\nconst resp = $json || {};\nconst callId = resp.call_id || resp.callId || resp.id || null;\nreturn [{ json: { lead, call_id: callId, agent_type: agentType } }];"
      },
      "id": "10",
      "name": "Extract Call ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/call_sessions",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({lead_id: $json.lead.id, retell_call_id: $json.call_id, agent_type: $json.agent_type})}}",
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({lead_id: $json.lead.id, retell_call_id: $json.call_id, agent_type: $json.agent_type})}}"
      },
      "id": "11",
      "name": "Insert Call Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/leads?id=eq.{{$json.lead.id}}",
        "method": "PATCH",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({status: 'CALLING', last_contacted_at: new Date().toISOString(), first_contacted_at: $json.lead.first_contacted_at || new Date().toISOString(), touch_count: ($json.lead.touch_count || 0) + 1})}}",
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({status: 'CALLING', last_contacted_at: new Date().toISOString(), first_contacted_at: $json.lead.first_contacted_at || new Date().toISOString(), touch_count: ($json.lead.touch_count || 0) + 1})}}"
      },
      "id": "12",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/call_sessions?select=id&created_at=gte.{{$moment.tz($node[\"Config\"].json.CALL_WINDOW_TZ || 'America/Chicago').format('YYYY-MM-DD')}}T00:00:00.000Z",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}"
      },
      "id": "13",
      "name": "Fetch Daily Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        20,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$items('Fetch Daily Calls').length < Number($node[\"Config\"].json.MAX_CALLS_PER_DAY || 50)}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "14",
      "name": "Under Daily Cap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        -140
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "CALL_WINDOW_DAYS",
              "value": "Mon,Tue,Wed,Thu,Fri,Sat"
            },
            {
              "name": "CALL_WINDOW_END",
              "value": "18:00"
            },
            {
              "name": "CALL_WINDOW_START",
              "value": "09:00"
            },
            {
              "name": "CALL_WINDOW_TZ",
              "value": "America/Chicago"
            },
            {
              "name": "RETELL_AGENT_B2B_ID",
              "value": "agent_5d6f2744acfc79e26ddce13af2"
            },
            {
              "name": "RETELL_AGENT_B2C_ID",
              "value": "agent_c42767020a829346090a7af687"
            },
            {
              "name": "RETELL_AI_KEY",
              "value": "={{$env.RETELL_AI_KEY}}"
            },
            {
              "name": "RETELL_FROM_NUMBER",
              "value": ""
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "SUPABASE_URL",
              "value": "https://gfazwukgloydihkejrhw.supabase.co"
            }
          ],
          "number": [
            {
              "name": "MAX_CALLS_PER_DAY",
              "value": 50
            },
            {
              "name": "MIN_HOURS_BETWEEN_TOUCHES",
              "value": 72
            }
          ],
          "boolean": []
        },
        "options": {},
        "keepOnlySet": false
      },
      "id": "1000",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -20,
        -200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Within Call Window?": {
      "main": [
        [
          {
            "node": "Fetch Daily Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Filter Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Leads": {
      "main": [
        [
          {
            "node": "Check Stoplist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stoplist": {
      "main": [
        [
          {
            "node": "Not In Stoplist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not In Stoplist?": {
      "main": [
        [
          {
            "node": "Build Call Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Call Payload": {
      "main": [
        [
          {
            "node": "Retell Create Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell Create Call": {
      "main": [
        [
          {
            "node": "Extract Call ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call ID": {
      "main": [
        [
          {
            "node": "Insert Call Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Calls": {
      "main": [
        [
          {
            "node": "Under Daily Cap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Under Daily Cap?": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Within Call Window?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}
