workflows_n8n/openclaw_retell_fn_b2c_web_demo.json
{
  "name": "openclaw_retell_fn_b2c_web_demo",
  "nodes": [
    {
      "parameters": {
        "path": "openclaw-retell-fn-b2c-web-demo",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        20,
        20
      ],
      "webhookId": "DEE128F3EFBF1DDA6714897BE48F5C33"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "RETELL_AI_KEY",
              "value": "={{$env.RETELL_AI_KEY}}"
            },
            {
              "name": "RETELL_FROM_NUMBER",
              "value": "={{$env.RETELL_FROM_NUMBER}}"
            },
            {
              "name": "RETELL_AGENT_B2C_ID",
              "value": "={{$env.RETELL_AGENT_B2C_ID}}"
            },
            {
              "name": "B2C_CLINIC_NAME",
              "value": "={{$env.B2C_CLINIC_NAME || 'Your MedSpa'}}"
            },
            {
              "name": "B2C_TIMEZONE",
              "value": "={{$env.B2C_TIMEZONE || 'America/Chicago'}}"
            },
            {
              "name": "B2C_OPEN_HOUR",
              "value": "={{$env.B2C_OPEN_HOUR || '9'}}"
            },
            {
              "name": "B2C_CLOSE_HOUR",
              "value": "={{$env.B2C_CLOSE_HOUR || '18'}}"
            },
            {
              "name": "B2C_CREDENTIALS_BLURB",
              "value": "={{$env.B2C_CREDENTIALS_BLURB || 'Board-certified clinical team and medical director oversight'}}"
            }
          ],
          "number": [],
          "boolean": []
        },
        "options": {},
        "keepOnlySet": false
      },
      "id": "2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        220,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = items[0]?.json || {};\nconst a = (req.body && typeof req.body === 'object') ? req.body : req;\nconst firstName = String(a.patient_name || 'Guest').slice(0,80);\nconst scenario = String(a.scenario || 'general_inquiry').slice(0,120);\nreturn [{json:{patient_name:firstName,scenario}}];"
      },
      "id": "3",
      "name": "Prepare Web Demo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        440,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json:{payload:{agent_id:$node['Config'].json.RETELL_AGENT_B2C_ID,retell_llm_dynamic_variables:{mode:'patient_demo_web',patient_name:$node['Prepare Web Demo'].json.patient_name,scenario:$node['Prepare Web Demo'].json.scenario}}}}];"
      },
      "id": "4",
      "name": "Build Web Demo Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        640,
        20
      ]
    },
    {
      "parameters": {
        "url": "https://api.retellai.com/v2/create-web-call",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "headerParametersJson": "={{JSON.stringify({Authorization: 'Bearer ' + $node[\"Config\"].json.RETELL_AI_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({Authorization: 'Bearer ' + $node[\"Config\"].json.RETELL_AI_KEY})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($node[\"Build Web Demo Payload\"].json.payload)}}",
        "bodyParametersJson": "={{JSON.stringify($node[\"Build Web Demo Payload\"].json.payload)}}"
      },
      "id": "5",
      "name": "Retell Create Web Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        860,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = $json || {};\nreturn [{json:{status:'demo_session_created',ok:true,call_id:data.call_id || null,access_token:data.access_token || null,instructions:'Launch with Retell Web SDK using access_token. Token is intended for immediate test use.'}}];"
      },
      "id": "6",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1080,
        20
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Prepare Web Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Web Demo": {
      "main": [
        [
          {
            "node": "Build Web Demo Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Web Demo Payload": {
      "main": [
        [
          {
            "node": "Retell Create Web Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell Create Web Call": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
