workflows_n8n/openclaw_retell_postcall_ingest.json
{
  "name": "openclaw_retell_postcall_ingest",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "openclaw-retell-postcall",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const payload = items[0].json || {};\nconst callId = payload.call_id || payload.callId || payload.id || null;\nconst toNumber = payload.to_number || payload.customer_number || payload.to || payload.customerNumber || null;\nconst analysis = payload.call_analysis || payload.analysis || {};\nconst cad = analysis.custom_analysis_data || {};\nconst rawOutcome = cad.call_outcome || analysis.call_outcome || analysis.disposition || payload.call_outcome || '';\nconst rawText = `${rawOutcome} ${(analysis.call_summary || payload.call_summary || '')}`.toLowerCase();\nlet outcome = rawOutcome ? String(rawOutcome).toUpperCase() : '';\nif (!['GRANTED','STALLED','REVOKED','VOICEMAIL','GATEKEEPER'].includes(outcome)) {\n  if (rawText.includes('voicemail')) outcome = 'VOICEMAIL';\n  else if (rawText.includes('gatekeeper') || rawText.includes('reception')) outcome = 'GATEKEEPER';\n  else if (rawText.includes('stop') || rawText.includes('not interested') || rawText.includes('do not call')) outcome = 'REVOKED';\n  else if (rawText.includes('grant') || rawText.includes('email') || rawText.includes('demo')) outcome = 'GRANTED';\n  else outcome = 'STALLED';\n}\nconst summary = analysis.call_summary || payload.call_summary || '';\nconst duration = payload.call_duration || payload.duration || null;\nconst email = cad.email || analysis.email || payload.email || null;\nreturn [{ json: { call_id: callId, to_number: toNumber, outcome, summary, duration, email, raw: payload } }];"
      },
      "id": "2",
      "name": "Normalize Outcome",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "url": "{{$env.SUPABASE_URL}}/rest/v1/leads?select=id,place_id,status&phone=eq.{{$json.to_number}}&limit=1",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "{\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\"}"
      },
      "id": "3",
      "name": "Lookup Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const lead = ($items('Lookup Lead')[0] && $items('Lookup Lead')[0].json) || {};\nconst norm = $node['Normalize Outcome'].json;\nconst outcome = norm.outcome;\nlet status = 'NURTURE';\nif (outcome === 'GRANTED') status = 'QUALIFIED';\nif (outcome === 'STALLED') status = 'NURTURE';\nif (outcome === 'REVOKED') status = 'DNC';\nif (outcome === 'VOICEMAIL') status = 'RETRY';\nif (outcome === 'GATEKEEPER') status = 'HOLD';\nconst positive = (outcome === 'GRANTED' || outcome === 'STALLED');\nconst dmConfirmed = outcome === 'GRANTED';\nreturn [{ json: {\n  lead_id: lead.id || null,\n  place_id: lead.place_id || null,\n  outcome,\n  status,\n  positive_signal: positive,\n  decision_maker_confirmed: dmConfirmed,\n  dm_email: norm.email || null,\n  call_id: norm.call_id,\n  summary: norm.summary,\n  duration: norm.duration,\n  raw: norm.raw\n}}];"
      },
      "id": "4",
      "name": "Build Updates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "url": "{{$env.SUPABASE_URL}}/rest/v1/call_sessions?retell_call_id=eq.{{$json.call_id}}",
        "method": "PATCH",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({outcome: $json.outcome, summary: $json.summary, duration: $json.duration})}}",
        "headerParametersJson": "{\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Prefer\":\"return=minimal\"}"
      },
      "id": "5",
      "name": "Update Call Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        -120
      ]
    },
    {
      "parameters": {
        "url": "{{$env.SUPABASE_URL}}/rest/v1/leads?id=eq.{{$json.lead_id}}",
        "method": "PATCH",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({status: $json.status, last_contacted_at: new Date().toISOString(), positive_signal: $json.positive_signal, decision_maker_confirmed: $json.decision_maker_confirmed, dm_email: $json.dm_email})}}",
        "headerParametersJson": "{\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Prefer\":\"return=minimal\"}"
      },
      "id": "6",
      "name": "Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "url": "{{$env.SUPABASE_URL}}/rest/v1/segments?on_conflict=lead_id",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({lead_id: $json.lead_id, segment: $json.outcome, last_updated: new Date().toISOString()})}}",
        "headerParametersJson": "{\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Prefer\":\"resolution=merge-duplicates,return=minimal\"}"
      },
      "id": "7",
      "name": "Upsert Segment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        120
      ]
    },
    {
      "parameters": {
        "url": "{{$env.SUPABASE_URL}}/rest/v1/lead_events?on_conflict=idempotency_key",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({lead_id: $json.lead_id, place_id: $json.place_id, event_type: 'retell_postcall', idempotency_key: ($json.call_id || 'unknown') + '-postcall', payload_json: $json.raw})}}",
        "headerParametersJson": "{\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Prefer\":\"resolution=merge-duplicates,return=minimal\"}"
      },
      "id": "8",
      "name": "Insert Lead Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.outcome}}",
              "operation": "equal",
              "value2": "REVOKED"
            }
          ]
        }
      },
      "id": "9",
      "name": "Outcome REVOKED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "url": "{{$env.SUPABASE_URL}}/rest/v1/stoplist",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({phone: $node['Normalize Outcome'].json.to_number, reason: 'REVOKED', source: 'retell'})}}",
        "headerParametersJson": "{\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Prefer\":\"return=minimal\"}"
      },
      "id": "10",
      "name": "Insert Stoplist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "url": "{{$env.SUPABASE_URL}}/rest/v1/lead_events?select=id&idempotency_key=eq.{{$node['Normalize Outcome'].json.call_id}}-postcall&limit=1",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "{\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\"}"
      },
      "id": "11",
      "name": "Check Postcall Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        140,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length || 0}}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "12",
      "name": "Is New Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        360,
        -140
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Outcome": {
      "main": [
        [
          {
            "node": "Check Postcall Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Lead": {
      "main": [
        [
          {
            "node": "Build Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Updates": {
      "main": [
        [
          {
            "node": "Update Call Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Segment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Lead Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Outcome REVOKED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outcome REVOKED?": {
      "main": [
        [
          {
            "node": "Insert Stoplist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Postcall Event": {
      "main": [
        [
          {
            "node": "Is New Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Event?": {
      "main": [
        [
          {
            "node": "Lookup Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}