workflows_n8n/openclaw_retell_fn_set_followup.json
{
  "name": "openclaw_retell_fn_set_followup",
  "nodes": [
    {
      "parameters": {
        "path": "openclaw-retell-fn-set-followup",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        20,
        20
      ],
      "webhookId": "7431EA75D7798805430CD32A3AA8C891"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "SUPABASE_URL",
              "value": "={{$env.SUPABASE_URL}}"
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ],
          "number": [
            {
              "name": "RATE_LIMIT_LOG_INSIGHT_30M",
              "value": 6
            },
            {
              "name": "RATE_LIMIT_SET_FOLLOWUP_60M",
              "value": 4
            },
            {
              "name": "RATE_LIMIT_ENRICH_6H",
              "value": 3
            }
          ],
          "boolean": []
        },
        "options": {},
        "keepOnlySet": false
      },
      "id": "2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        220,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = items[0]?.json || {};\nconst a = (req.body && typeof req.body === 'object') ? req.body : req;\nif (!a.lead_id) {\n  return [{json:{guardrail_ok:false,reason_code:'missing_lead_id',reason_detail:'lead_id is required'}}];\n}\nconst allowed = ['NEW','NURTURE','RETRY','HOLD','QUALIFIED'];\nconst next = a.next_touch_at || new Date(Date.now() + 3*24*3600*1000).toISOString();\nconst status = a.status || 'NURTURE';\nif (!allowed.includes(status)) {\n  return [{json:{guardrail_ok:false,reason_code:'invalid_status',reason_detail:'status must be NEW/NURTURE/RETRY/HOLD/QUALIFIED'}}];\n}\nconst body = {next_touch_at: next, status};\nif (a.dm_email) body.dm_email = a.dm_email;\nif (typeof a.decision_maker_confirmed === 'boolean') body.decision_maker_confirmed = a.decision_maker_confirmed;\nif (typeof a.positive_signal === 'boolean') body.positive_signal = a.positive_signal;\nconst now = new Date().toISOString();\nconst rateWindowStart = new Date(Date.now() - 60*60*1000).toISOString();\nconst eventPayload = {status, next_touch_at: next, dm_email: a.dm_email || null, decision_maker_confirmed: a.decision_maker_confirmed, positive_signal: a.positive_signal, source: 'retell_tool'};\nreturn [{json:{guardrail_ok:true,lead_id:a.lead_id,phone:a.phone||null,body,event_payload:eventPayload,event_type:'retell_followup_plan',idempotency_key:`${a.lead_id}-retell_followup_plan-${now}`,rate_window_start:rateWindowStart}}];"
      },
      "id": "3",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        440,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{((($json.guardrail_ok) === true || ($json.guardrail_ok) === 'true') ? 1 : 0)}}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "id": "4",
      "name": "Guardrail OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json:{status:'rejected',ok:false,reason_code:$json.reason_code || 'invalid_payload',reason_detail:$json.reason_detail || 'guardrail_reject'}}];"
      },
      "id": "5",
      "name": "Reject Invalid",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/lead_events?select=count&lead_id=eq.{{$node[\"Prepare Update\"].json.lead_id}}&event_type=eq.retell_followup_plan&created_at=gte.{{$node[\"Prepare Update\"].json.rate_window_start}}",
        "method": "GET",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: 'Bearer ' + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: 'Bearer ' + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendBody": false,
        "specifyBody": "json",
        "jsonBody": "{}",
        "bodyParametersJson": "{}"
      },
      "id": "6",
      "name": "Fetch Recent Followup Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={Number($json.count || 0)}",
              "operation": "largerEqual",
              "value2": 4
            }
          ]
        }
      },
      "id": "7",
      "name": "Rate Limited?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const limit = Number($node[\"Config\"].json.RATE_LIMIT_SET_FOLLOWUP_60M || 4);\nreturn [{json:{status:'rejected',ok:false,reason_code:'rate_limited_followup',reason_detail:`Exceeded ${limit} follow-up updates in 60m window`}}];"
      },
      "id": "8",
      "name": "Reject Rate Limit",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1320,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/leads?id=eq.{{$node[\"Prepare Update\"].json.lead_id}}",
        "method": "PATCH",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=representation\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=representation\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($node[\"Prepare Update\"].json.body)}}",
        "bodyParametersJson": "={{JSON.stringify($node[\"Prepare Update\"].json.body)}}"
      },
      "id": "9",
      "name": "Patch Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const src = $node[\"Prepare Update\"].json;\nreturn [{json:{lead_id:src.lead_id,place_id:null,event_type:src.event_type,idempotency_key:src.idempotency_key,payload_json:src.event_payload}}];"
      },
      "id": "10",
      "name": "Prepare Followup Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1540,
        20
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/lead_events?on_conflict=idempotency_key",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=representation\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=representation\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "id": "11",
      "name": "Insert Followup Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json:{status:'updated',ok:true,result:$json}}];"
      },
      "id": "12",
      "name": "Acknowledge",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1980,
        20
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Guardrail OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrail OK?": {
      "main": [
        [
          {
            "node": "Fetch Recent Followup Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Followup Count": {
      "main": [
        [
          {
            "node": "Rate Limited?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limited?": {
      "main": [
        [
          {
            "node": "Patch Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Lead": {
      "main": [
        [
          {
            "node": "Prepare Followup Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Followup Event": {
      "main": [
        [
          {
            "node": "Insert Followup Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Followup Event": {
      "main": [
        [
          {
            "node": "Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
