workflows_n8n/openclaw_retell_fn_b2c_availability.json
{
  "name": "openclaw_retell_fn_b2c_availability",
  "nodes": [
    {
      "parameters": {
        "path": "openclaw-retell-fn-b2c-availability",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        20,
        20
      ],
      "webhookId": "7851350F315DCABE70519686D7626EE7"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "B2C_CLINIC_NAME",
              "value": "={{$env.B2C_CLINIC_NAME || 'Your MedSpa'}}"
            },
            {
              "name": "B2C_TIMEZONE",
              "value": "={{$env.B2C_TIMEZONE || 'America/Chicago'}}"
            },
            {
              "name": "B2C_OPEN_HOUR",
              "value": "={{$env.B2C_OPEN_HOUR || '9'}}"
            },
            {
              "name": "B2C_CLOSE_HOUR",
              "value": "={{$env.B2C_CLOSE_HOUR || '18'}}"
            },
            {
              "name": "B2C_CREDENTIALS_BLURB",
              "value": "={{$env.B2C_CREDENTIALS_BLURB || 'Board-certified clinical team and medical director oversight'}}"
            }
          ],
          "number": [],
          "boolean": []
        },
        "options": {},
        "keepOnlySet": false
      },
      "id": "2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        220,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = items[0]?.json || {};\nconst a = (req.body && typeof req.body === 'object') ? req.body : req;\nconst tz = a.timezone || $node['Config'].json.B2C_TIMEZONE || 'America/Chicago';\nconst slotMin = Math.max(15, Math.min(60, Number(a.slot_minutes || 30)));\nconst openHour = Number($node['Config'].json.B2C_OPEN_HOUR || 9);\nconst closeHour = Number($node['Config'].json.B2C_CLOSE_HOUR || 18);\nconst slots = [];\nlet probe = new Date(Date.now() + 2 * 3600 * 1000);\nlet guard = 0;\nwhile (slots.length < 8 && guard < 600) {\n  const hourParts = new Intl.DateTimeFormat('en-US', { timeZone: tz, hour: '2-digit', hour12: false }).formatToParts(probe);\n  const dowParts = new Intl.DateTimeFormat('en-US', { timeZone: tz, weekday: 'short' }).formatToParts(probe);\n  const hour = Number(hourParts.find(p => p.type === 'hour')?.value || '0');\n  const day = dowParts.find(p => p.type === 'weekday')?.value || '';\n  if (day !== 'Sun' && hour >= openHour && hour < closeHour) {\n    slots.push({slot_iso: probe.toISOString(), timezone: tz});\n  }\n  probe = new Date(probe.getTime() + slotMin * 60000);\n  guard += 1;\n}\nreturn [{json:{status:'ok',timezone:tz,slot_minutes:slotMin,slots}}];"
      },
      "id": "3",
      "name": "Build Availability",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        460,
        20
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Build Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
