workflows_n8n/openclaw_retell_call_dispatch.json
{
  "name": "openclaw_retell_call_dispatch",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "openclaw-retell-dispatch",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ],
      "webhookId": "4B855130F2F7FB8F023FEDB876E9DA1C"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($node[\"Config\"].json.CALL_WINDOW_DAYS || 'Mon,Tue,Wed,Thu,Fri,Sat').split(',').includes($moment.tz($node[\"Config\"].json.CALL_WINDOW_TZ || 'America/Chicago').format('ddd')) && $moment.tz($node[\"Config\"].json.CALL_WINDOW_TZ || 'America/Chicago').format('HH:mm') >= ($node[\"Config\"].json.CALL_WINDOW_START || '09:00') && $moment.tz($node[\"Config\"].json.CALL_WINDOW_TZ || 'America/Chicago').format('HH:mm') <= ($node[\"Config\"].json.CALL_WINDOW_END || '18:00') }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "2",
      "name": "Within Call Window?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/leads?select=id,place_id,business_name,phone,email,city,state,zip,status,source,lead_type,decision_maker_confirmed,positive_signal,touch_count,first_contacted_at,last_contacted_at,paused_until,current_promo_service,promo_details,opening_time,website,categories,rating,reviews_count&status=in.(NEW,NURTURE,RETRY,HOLD)&phone=not.is.null{{$node[\"Webhook Trigger\"].json.source_filter ? '&source=eq.' + encodeURIComponent($node[\"Webhook Trigger\"].json.source_filter) : ''}}&order=created_at.asc&limit={{$node[\"Webhook Trigger\"].json.lead_limit || $node[\"Config\"].json.DISPATCH_LEAD_LIMIT || 250}}",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}"
      },
      "id": "3",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        140,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": "={{$node[\"Config\"].json.DISPATCH_BATCH_SIZE || 25}}"
      },
      "id": "4",
      "name": "Split Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        340,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const now = new Date();\nconst minHours = Number($node[\"Config\"].json.MIN_HOURS_BETWEEN_TOUCHES || 72);\nreturn items.filter((item) => {\n  const lead = item.json || {};\n  if (!lead.phone) return false;\n  if (lead.paused_until && new Date(lead.paused_until) > now) return false;\n  const touches = lead.touch_count || 0;\n  if (touches >= 8) return false;\n  if (lead.last_contacted_at) {\n    const diffMs = now - new Date(lead.last_contacted_at);\n    if (diffMs < minHours * 3600 * 1000) return false;\n  }\n  return true;\n});"
      },
      "id": "5",
      "name": "Filter Leads",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/stoplist?select=count&phone=eq.{{$json.phone}}&limit=1",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}"
      },
      "id": "6",
      "name": "Check Stoplist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{Number($json.count || 0)}}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "7",
      "name": "Not In Stoplist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const lead = $node[\"Filter Leads\"].json || {};\nconst cfg = $node[\"Config\"].json || {};\nconst isB2C = !!lead.decision_maker_confirmed;\nlet agentType = isB2C ? 'B2C' : 'B2B';\nlet agentId = isB2C ? cfg.RETELL_AGENT_B2C_ID : cfg.RETELL_AGENT_B2B_ID;\nif (!isB2C) {\n  const override = String($node[\"Webhook Trigger\"].json.b2b_agent_override_id || '').trim();\n  const mode = String(cfg.OPENCLAW_B2B_CANARY_MODE || 'off').toLowerCase();\n  const v6Id = String(cfg.RETELL_AGENT_B2B_V6_ID || '').trim();\n  const source = String(lead.source || '');\n  const sourceRegexRaw = String(cfg.OPENCLAW_B2B_CANARY_SOURCE_REGEX || '^tx-medspa-');\n  let sourceMatch = false;\n  try { sourceMatch = new RegExp(sourceRegexRaw).test(source); } catch (e) { sourceMatch = source.startsWith('tx-medspa-'); }\n  const samplePct = Math.max(0, Math.min(100, Number(cfg.OPENCLAW_B2B_CANARY_SAMPLE_PCT || 50)));\n  const hashSeed = String(lead.id || lead.phone || source || '');\n  const hash = [...hashSeed].reduce((acc, ch) => acc + ch.charCodeAt(0), 0) % 100;\n  const inSample = hash < samplePct;\n  if (override) {\n    agentId = override;\n    agentType = 'B2B_OVERRIDE';\n  } else if (mode === 'force_v6' && v6Id) {\n    agentId = v6Id;\n    agentType = 'B2B_V6';\n  } else if (mode === 'canary' && v6Id && sourceMatch && inSample) {\n    agentId = v6Id;\n    agentType = 'B2B_V6';\n  }\n}\nconst fromNumber = $node[\"Config\"].json.RETELL_FROM_NUMBER;\nif (!fromNumber || !lead.phone) return [];\nconst promoServiceRaw = String(lead.current_promo_service || '').trim();\nconst promoDetailsRaw = String(lead.promo_details || '').trim();\nconst openingTimeRaw = String(lead.opening_time || '').trim();\nconst promoService = promoServiceRaw || 'your current promotion';\nconst promoDetails = promoDetailsRaw || 'your featured service';\nconst openingTime = openingTimeRaw || 'during your listed hours';\nif (!promoServiceRaw) console.log(`[dispatch:null-var] lead=${lead.id || 'unknown'} key=current_promo_service fallback=${promoService}`);\nif (!promoDetailsRaw) console.log(`[dispatch:null-var] lead=${lead.id || 'unknown'} key=promo_details fallback=${promoDetails}`);\nif (!openingTimeRaw) console.log(`[dispatch:null-var] lead=${lead.id || 'unknown'} key=opening_time fallback=${openingTime}`);\nreturn [{ json: {\n  lead,\n  agent_id: agentId,\n  agent_type: agentType,\n  from_number: fromNumber,\n  request_body: {\n    from_number: fromNumber,\n    to_number: lead.phone,\n    override_agent_id: agentId,\n    retell_llm_dynamic_variables: {\n      business_name: lead.business_name || '',\n      city: lead.city || '',\n      state: lead.state || '',\n      website: lead.website || '',\n      category: Array.isArray(lead.categories) ? (lead.categories[0] || '') : '',\n      rating: String(lead.rating ?? ''),\n      reviews_count: String(lead.reviews_count ?? ''),\n      touch_count: String(lead.touch_count ?? 0),\n      lead_id: lead.id || '',\n      source: lead.source || '',\n      current_promo_service: promoService,\n      promo_service: promoService,\n      promo_details: promoDetails,\n      opening_time: openingTime,\n      b2b_agent_variant: agentType,\n      canary_mode: String(cfg.OPENCLAW_B2B_CANARY_MODE || 'off')\n    }\n  }\n} }];"
      },
      "id": "8",
      "name": "Build Call Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.retellai.com/v2/create-phone-call",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{}",
        "headerParametersJson": "={{JSON.stringify({Authorization: \"Bearer \" + $node[\"Config\"].json.RETELL_AI_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({Authorization: \"Bearer \" + $node[\"Config\"].json.RETELL_AI_KEY})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.request_body}}"
      },
      "id": "9",
      "name": "Retell Create Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const lead = $node[\"Build Call Payload\"].json.lead || {};\nconst agentType = $node[\"Build Call Payload\"].json.agent_type || 'B2B';\nconst resp = $json || {};\nconst callId = resp.call_id || resp.callId || resp.id || null;\nreturn [{ json: { lead, call_id: callId, agent_type: agentType } }];"
      },
      "id": "10",
      "name": "Extract Call ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/call_sessions",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({lead_id: $json.lead.id, retell_call_id: $json.call_id, agent_type: $json.agent_type})}}",
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({lead_id: $json.lead.id, retell_call_id: $json.call_id, agent_type: $json.agent_type})}}"
      },
      "id": "11",
      "name": "Insert Call Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/leads?id=eq.{{$json.lead.id}}",
        "method": "PATCH",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({status: 'CALLING', last_contacted_at: new Date().toISOString(), first_contacted_at: $json.lead.first_contacted_at || new Date().toISOString(), touch_count: ($json.lead.touch_count || 0) + 1})}}",
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"return=minimal\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({status: 'CALLING', last_contacted_at: new Date().toISOString(), first_contacted_at: $json.lead.first_contacted_at || new Date().toISOString(), touch_count: ($json.lead.touch_count || 0) + 1})}}"
      },
      "id": "12",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/call_sessions?select=count&created_at=gte.{{new Date().toISOString().slice(0,10)}}T00:00:00.000Z",
        "method": "GET",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY})}}"
      },
      "id": "13",
      "name": "Fetch Daily Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        20,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{Number($json.count || 0) < Number($node[\"Webhook Trigger\"].json.max_calls || $node[\"Config\"].json.MAX_CALLS_PER_DAY || 50)}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "14",
      "name": "Under Daily Cap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        -140
      ]
    },
    {
      "parameters": {
        "url": "={{($node[\"Config\"].json.N8N_PUBLIC_WEBHOOK_BASE || 'https://elijah-wallis.app.n8n.cloud') + '/webhook/openclaw-apify-ingest'}}",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({source_filter: $node[\"Webhook Trigger\"].json.source_filter || '', force_kb_sync: true, sync_reason: 'prebatch_retell_dispatch'})}}"
      },
      "id": "15",
      "name": "Pre-Batch KB Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        -140
      ]
    },
    {
      "parameters": {
        "amount": "={{Number($node[\"Webhook Trigger\"].json.kb_sync_wait_seconds || $node[\"Config\"].json.KB_SYNC_WAIT_SECONDS || 60)}}",
        "unit": "seconds"
      },
      "id": "16",
      "name": "Wait For KB Sync",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        620,
        -140
      ]
    },
    {
      "parameters": {
        "functionCode": "const abortOnMissing = String($node[\"Webhook Trigger\"].json.abort_on_missing_promo_fields ?? $node[\"Config\"].json.ABORT_ON_MISSING_PROMO_FIELDS ?? '1').toLowerCase() !== '0';\nconst missing = [];\nfor (const item of items) {\n  const lead = item.json || {};\n  const missingKeys = [];\n  if (!String(lead.current_promo_service || '').trim()) missingKeys.push('current_promo_service');\n  if (!String(lead.promo_details || '').trim()) missingKeys.push('promo_details');\n  if (!String(lead.opening_time || '').trim()) missingKeys.push('opening_time');\n  if (missingKeys.length) {\n    const row = { lead_id: lead.id || null, business_name: lead.business_name || null, missing_keys: missingKeys };\n    missing.push(row);\n    console.log(`[dispatch:promo-missing] ${JSON.stringify(row)}`);\n  }\n}\nif (missing.length && abortOnMissing) {\n  throw new Error(`prebatch_validation_failed_missing_promo_fields=${JSON.stringify(missing)}`);\n}\nreturn items;"
      },
      "id": "17",
      "name": "Validate Promo Fields",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "CALL_WINDOW_DAYS",
              "value": "Mon,Tue,Wed,Thu,Fri,Sat"
            },
            {
              "name": "CALL_WINDOW_END",
              "value": "18:00"
            },
            {
              "name": "CALL_WINDOW_START",
              "value": "09:00"
            },
            {
              "name": "CALL_WINDOW_TZ",
              "value": "America/Chicago"
            },
            {
              "name": "RETELL_AGENT_B2B_ID",
              "value": "={{$env.RETELL_AGENT_B2B_ID}}"
            },
            {
              "name": "RETELL_AGENT_B2C_ID",
              "value": "={{$env.RETELL_AGENT_B2C_ID}}"
            },
            {
              "name": "RETELL_AI_KEY",
              "value": "={{$env.RETELL_AI_KEY}}"
            },
            {
              "name": "RETELL_FROM_NUMBER",
              "value": "={{$env.RETELL_FROM_NUMBER}}"
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "SUPABASE_URL",
              "value": "={{$env.SUPABASE_URL}}"
            },
            {
              "name": "RETELL_AGENT_B2B_V6_ID",
              "value": "={{$env.RETELL_AGENT_B2B_V6_ID || ''}}"
            },
            {
              "name": "OPENCLAW_B2B_CANARY_MODE",
              "value": "={{$env.OPENCLAW_B2B_CANARY_MODE || 'off'}}"
            },
            {
              "name": "OPENCLAW_B2B_CANARY_SOURCE_REGEX",
              "value": "={{$env.OPENCLAW_B2B_CANARY_SOURCE_REGEX || '^tx-medspa-'}}"
            },
            {
              "name": "OPENCLAW_B2B_CANARY_SAMPLE_PCT",
              "value": "={{$env.OPENCLAW_B2B_CANARY_SAMPLE_PCT || '50'}}"
            },
            {
              "name": "NURTURE_SMS_ENABLED",
              "value": "={{$env.NURTURE_SMS_ENABLED || '0'}}"
            },
            {
              "name": "N8N_PUBLIC_WEBHOOK_BASE",
              "value": "={{$env.N8N_PUBLIC_WEBHOOK_BASE || 'https://elijah-wallis.app.n8n.cloud'}}"
            },
            {
              "name": "ABORT_ON_MISSING_PROMO_FIELDS",
              "value": "={{$env.ABORT_ON_MISSING_PROMO_FIELDS || '1'}}"
            }
          ],
          "number": [
            {
              "name": "MAX_CALLS_PER_DAY",
              "value": 500
            },
            {
              "name": "MIN_HOURS_BETWEEN_TOUCHES",
              "value": 72
            },
            {
              "name": "DISPATCH_LEAD_LIMIT",
              "value": 250
            },
            {
              "name": "DISPATCH_BATCH_SIZE",
              "value": 25
            },
            {
              "name": "KB_SYNC_WAIT_SECONDS",
              "value": 60
            }
          ],
          "boolean": []
        },
        "options": {},
        "keepOnlySet": false
      },
      "id": "1000",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -20,
        -200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Within Call Window?": {
      "main": [
        [
          {
            "node": "Fetch Daily Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Validate Promo Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Promo Fields": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Filter Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Leads": {
      "main": [
        [
          {
            "node": "Check Stoplist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stoplist": {
      "main": [
        [
          {
            "node": "Not In Stoplist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not In Stoplist?": {
      "main": [
        [
          {
            "node": "Build Call Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Call Payload": {
      "main": [
        [
          {
            "node": "Retell Create Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell Create Call": {
      "main": [
        [
          {
            "node": "Extract Call ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call ID": {
      "main": [
        [
          {
            "node": "Insert Call Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Calls": {
      "main": [
        [
          {
            "node": "Under Daily Cap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Under Daily Cap?": {
      "main": [
        [
          {
            "node": "Pre-Batch KB Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Batch KB Sync": {
      "main": [
        [
          {
            "node": "Wait For KB Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For KB Sync": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Within Call Window?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}
