workflows_n8n/openclaw_apify_scrape_ingest.json
{
  "name": "openclaw_apify_scrape_ingest",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "openclaw-apify-ingest",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/{{$node[\"Config\"].json.APIFY_ACTOR_ID || 'compass/crawler-google-places'}}/run-sync-get-dataset-items?token={{$node[\"Config\"].json.APIFY_API_TOKEN}}&timeout=300&clean=true",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json",
          "timeout": 300000
        },
        "bodyParametersJson": "={{JSON.stringify(($json.apify_input || ($json.body && $json.body.apify_input)) || {includeWebResults:false,language:'en',maxCrawledPlacesPerSearch:30,maxImages:0,maximumLeadsEnrichmentRecords:0,scrapeContacts:false,scrapeDirectories:false,scrapeImageAuthors:false,scrapePlaceDetailPage:false,scrapeReviewsPersonalData:true,scrapeSocialMediaProfiles:{facebooks:false,instagrams:false,tiktoks:false,twitters:false,youtubes:false},scrapeTableReservationProvider:false,searchStringsArray:(($json.searchStringsArray || ($json.body && $json.body.searchStringsArray)) || [\"Medical Spa 78746 -CVS -Walgreens -Hotel\", \"Medical Spa 78701 -CVS -Walgreens -Hotel\", \"Medical Spa 78703 -CVS -Walgreens -Hotel\", \"Medical Spa 78704 -CVS -Walgreens -Hotel\", \"Medical Spa 78731 -CVS -Walgreens -Hotel\", \"Medical Spa 78735 -CVS -Walgreens -Hotel\", \"Medical Spa 78739 -CVS -Walgreens -Hotel\", \"Medical Spa 78756 -CVS -Walgreens -Hotel\", \"Medical Spa 78613 -CVS -Walgreens -Hotel\", \"Medical Spa 75205 -CVS -Walgreens -Hotel\", \"Medical Spa 75225 -CVS -Walgreens -Hotel\", \"Medical Spa 75201 -CVS -Walgreens -Hotel\", \"Medical Spa 75219 -CVS -Walgreens -Hotel\", \"Medical Spa 75204 -CVS -Walgreens -Hotel\", \"Medical Spa 75093 -CVS -Walgreens -Hotel\", \"Medical Spa 76092 -CVS -Walgreens -Hotel\", \"Medical Spa 75024 -CVS -Walgreens -Hotel\", \"Medical Spa 75034 -CVS -Walgreens -Hotel\", \"Medical Spa 75230 -CVS -Walgreens -Hotel\", \"Medical Spa 77019 -CVS -Walgreens -Hotel\", \"Medical Spa 77027 -CVS -Walgreens -Hotel\", \"Medical Spa 77056 -CVS -Walgreens -Hotel\", \"Medical Spa 77005 -CVS -Walgreens -Hotel\", \"Medical Spa 77479 -CVS -Walgreens -Hotel\", \"Medical Spa 77494 -CVS -Walgreens -Hotel\", \"Medical Spa 77077 -CVS -Walgreens -Hotel\", \"Medical Spa 77094 -CVS -Walgreens -Hotel\", \"Medical Spa 78209 -CVS -Walgreens -Hotel\", \"Medical Spa 78232 -CVS -Walgreens -Hotel\", \"Medical Spa 78258 -CVS -Walgreens -Hotel\"]),skipClosedPlaces:true})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify(($json.apify_input || ($json.body && $json.body.apify_input)) || {includeWebResults:false,language:'en',maxCrawledPlacesPerSearch:30,maxImages:0,maximumLeadsEnrichmentRecords:0,scrapeContacts:false,scrapeDirectories:false,scrapeImageAuthors:false,scrapePlaceDetailPage:false,scrapeReviewsPersonalData:true,scrapeSocialMediaProfiles:{facebooks:false,instagrams:false,tiktoks:false,twitters:false,youtubes:false},scrapeTableReservationProvider:false,searchStringsArray:(($json.searchStringsArray || ($json.body && $json.body.searchStringsArray)) || [\"Medical Spa 78746 -CVS -Walgreens -Hotel\", \"Medical Spa 78701 -CVS -Walgreens -Hotel\", \"Medical Spa 78703 -CVS -Walgreens -Hotel\", \"Medical Spa 78704 -CVS -Walgreens -Hotel\", \"Medical Spa 78731 -CVS -Walgreens -Hotel\", \"Medical Spa 78735 -CVS -Walgreens -Hotel\", \"Medical Spa 78739 -CVS -Walgreens -Hotel\", \"Medical Spa 78756 -CVS -Walgreens -Hotel\", \"Medical Spa 78613 -CVS -Walgreens -Hotel\", \"Medical Spa 75205 -CVS -Walgreens -Hotel\", \"Medical Spa 75225 -CVS -Walgreens -Hotel\", \"Medical Spa 75201 -CVS -Walgreens -Hotel\", \"Medical Spa 75219 -CVS -Walgreens -Hotel\", \"Medical Spa 75204 -CVS -Walgreens -Hotel\", \"Medical Spa 75093 -CVS -Walgreens -Hotel\", \"Medical Spa 76092 -CVS -Walgreens -Hotel\", \"Medical Spa 75024 -CVS -Walgreens -Hotel\", \"Medical Spa 75034 -CVS -Walgreens -Hotel\", \"Medical Spa 75230 -CVS -Walgreens -Hotel\", \"Medical Spa 77019 -CVS -Walgreens -Hotel\", \"Medical Spa 77027 -CVS -Walgreens -Hotel\", \"Medical Spa 77056 -CVS -Walgreens -Hotel\", \"Medical Spa 77005 -CVS -Walgreens -Hotel\", \"Medical Spa 77479 -CVS -Walgreens -Hotel\", \"Medical Spa 77494 -CVS -Walgreens -Hotel\", \"Medical Spa 77077 -CVS -Walgreens -Hotel\", \"Medical Spa 77094 -CVS -Walgreens -Hotel\", \"Medical Spa 78209 -CVS -Walgreens -Hotel\", \"Medical Spa 78232 -CVS -Walgreens -Hotel\", \"Medical Spa 78258 -CVS -Walgreens -Hotel\"]),skipClosedPlaces:true})}}"
      },
      "id": "2",
      "name": "Apify Run+Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const today = new Date().toISOString().slice(0,10);\nconst workflowId = 'openclaw_apify_scrape_ingest';\nreturn items.map((item) => {\n  const j = item.json || {};\n  const placeId = j.placeId || j.place_id || j.id || null;\n  const phone = j.phone || j.phoneNumber || j.phone_number || null;\n  const business = j.title || j.name || j.businessName || null;\n  const rating = j.totalScore ?? j.rating ?? null;\n  const reviewsCount = j.reviewsCount ?? j.reviews_count ?? null;\n  const categories = j.categories || (j.category ? [j.category] : []);\n  return {\n    json: {\n      lead: {\n        source: \"apify.google_places\",\n        place_id: placeId,\n        business_name: business,\n        phone,\n        email: j.email || null,\n        website: j.website || j.url || null,\n        address: j.address || j.fullAddress || null,\n        city: j.city || null,\n        state: j.state || null,\n        zip: j.zip || null,\n        rating,\n        reviews_count: reviewsCount,\n        categories,\n        status: \"NEW\",\n        lead_type: \"B2B\",\n        decision_maker_confirmed: false,\n        positive_signal: false,\n        touch_count: 0\n      },\n      event: {\n        place_id: placeId,\n        event_type: \"apify_ingest\",\n        idempotency_key: `${placeId || phone || business || \"unknown\"}-${today}-${workflowId}`,\n        payload_json: j\n      }\n    }\n  };\n});"
      },
      "id": "3",
      "name": "Map Leads",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/leads?on_conflict=place_id",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json.lead)}}",
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=minimal\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=minimal\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.lead)}}"
      },
      "id": "4",
      "name": "Upsert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        -60
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Config\"].json.SUPABASE_URL}}/rest/v1/lead_events?on_conflict=idempotency_key",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json.event)}}",
        "headerParametersJson": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=minimal\"})}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({apikey: $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Authorization: \"Bearer \" + $node[\"Config\"].json.SUPABASE_SERVICE_ROLE_KEY, Prefer: \"resolution=merge-duplicates,return=minimal\"})}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.event)}}"
      },
      "id": "5",
      "name": "Insert Lead Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "APIFY_ACTOR_ID",
              "value": "={{$env.APIFY_ACTOR_ID || 'compass/crawler-google-places'}}"
            },
            {
              "name": "APIFY_API_TOKEN",
              "value": "={{$env.APIFY_API_TOKEN}}"
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "SUPABASE_URL",
              "value": "={{$env.SUPABASE_URL}}"
            }
          ],
          "number": [],
          "boolean": []
        },
        "options": {},
        "keepOnlySet": false
      },
      "id": "1000",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -20,
        -200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Run+Fetch": {
      "main": [
        [
          {
            "node": "Map Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Leads": {
      "main": [
        [
          {
            "node": "Upsert Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Lead Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Apify Run+Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}
